@{
    ViewData["Title"] = "Home Page";
    
}
<style>
   div{
       border:7px double antiquewhite;
        text-align: center;
   }
   .jk{
       text-align:center;
       background-color:aqua;
   }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>AntiqueWhite1</div>
<div>AntiqueWhite2</div>
<div>AntiqueWhite3</div>
<div class="jk">EN BUYUK BESIKTAS</div>